/*******style reset*******/

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;

}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*******helping adds*******/

* {
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: '';
}

.clearfix:after {
	clear: both;
}


/********main css/********/

a{
	text-decoration: none;
}

/*******header********/

.container {
	text-align: center;
	width: 100%;
	min-width: 320px;
	padding: 120px 0;
	background-color: #ffff;
}

.container:nth-child(2n+1){
	background-color: #f7f7f7;
}

.resize {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	/*border: 0.5px dotted red;*/
}

.container_header {
	min-height: 698px;
	background-image: url(../img/header-bg.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 20px;
	position: relative;
}

.container_services{
	padding-bottom: 100px;
}

.container_portfolio{
	padding-bottom: 70px;
}


.container_contact {
	min-height: 698px;
	background-image: url(../img/footer-bg.png);
	background-position: top;
	top;
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	background-size: cover;
}

.row {

	display: inline-block;
}

.row_nav {
	width: 100%;
	margin-bottom: 205px;
}

.logo{
	float: left;
}

.menu{
	float: right;
}


.logo__item {
	font-family: 'wisdom_scriptregular';
	color: #fed136;
	font-size: 26px;
	text-align: left;
}

.nav__item {
	display: inline-block;
	margin-left: 40px;
}

.nav__item:first-child {
	margin-left: 0;
}

.nav__item > a {

	text-decoration: none;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #FFFFFF;
}

.nav__item > a:hover {
	color: #fed136;
}

.welcome {
	color: white;
	font-family: 'Droid Serif';
	font-style: italic;
	font-size: 40px;
	padding-bottom: 50px;

}

.welcome + p {
	color: white;
	font-size: 75px;
	font-family: 'Montserrat';
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 60px;
}

.button {
	margin: 0 auto;
	display: block;
	width: 240px;
	padding: 20px;
	border-radius: 5px;
	background-color: #fed136;
	font-size: 18px;
	font-family: 'Montserrat';
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;

}

.button:active {
	-webkit-box-shadow: inset 0 0 5px 2px #545454;
	box-shadow: inset 0 0 1px 2px #545454;
}

/*******scroll mouse*******/

@-webkit-keyframes scroll {
	0% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}
@-moz-keyframes scroll {
	0% {
		-moz-transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(10px);
	}
	100% {
		-moz-transform: translateY(0);
	}
}
@keyframes scroll {
	0% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(10px);
		-moz-transform: translateY(10px);
		-ms-transform: translateY(10px);
		-o-transform: translateY(10px);
		transform: translateY(10px);
	}
	100% {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}
}

.center-it {
	position: absolute;
	bottom: 1%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.caption {
	margin-top: 10px;
	font-size: 14px;
	font-family: 'Montserrat';
	color: #FFFFFF;
}

.mouse {
	display: inline-block;
	height: 44px;
	width: 28px;
	border-radius: 12px;
	border: 2px solid #fed136;
	text-align: center;
}

.mouse:after {
	display: inline-block;
	height: 8px;
	width: 8px;
	background-color: #fed136;
	border-radius: 50%;
	content: "";
	-webkit-animation: scroll 1.3s ease-out infinite forwards;
	-moz-animation: scroll 1.3s ease-out infinite forwards;
	animation: scroll 1.3s ease-out infinite forwards;
}

@media screen and (max-width: 640px) {
	.logo__item {
		text-align: center;
	}

	.logo{
		float: none;
		padding-bottom: 20px;
	}

	.menu{
		float: none;
	}

	.nav{
		display: table;
		width: 100%;
	}
	
	.nav__item{
		display: table-cell;
	}

	.row_nav{
		margin-bottom: 20px;
	}

}	

/*******main*******/

.section__titte {
	font-size: 40px;
	font-family: 'Montserrat';
	color: #222222;
	font-weight: bold;
	padding-bottom: 20px;
}

.section__description {
	font-size: 16px;
	font-family: 'Droid Serif';
	color: #777777;
	font-style: italic;
	margin-bottom: 75px;
}

#contact{
	color: #fff;
}

.col{
	float: left;
	min-height: 1px;
}

.col_x3{
	width: 33.33%;
}

.col_x3:nth-child(3n+1) {
	clear: left;
}

@media screen and (max-width: 640px){
	.col_x2{
	width: 50%;
	}

	.col_x2:nth-child(2n+1) {
		clear: left;
	}

	.col_x3:nth-child(3n+1) {
		clear: none;
	}
}

@media screen and (max-width: 480px){
	.col{
	width: 100%;
	}

	.col_x2:nth-child(2n+1) {
		clear: none;
	}

	.col_x3:nth-child(3n+1) {
		clear: none;
	}
}

/*******services*******/

.services{
	padding: 0 15px;
	margin-bottom: 20px;
}

.services__icon{
	width: 70px;
	height: 70px;
	border: 3px solid #fed136;
	border-radius: 35px;
	margin: 0 auto 25px;
	background-image: url(../img/sprite.png);
	background-position: 12px 12px;
}

.services__icon_rw{
	background-position: -57px 13px;
}

.services__icon_ws{
	background-position: -122px 13px;
}

.services__title{
	font-size: 18px;
	font-family: 'Montserrat';
	color: #222222;
	font-weight: bold;
	padding-bottom: 15px;
}

.services__description{
	font-size: 14px;
	font-family: 'Roboto Slab';
	color: #777;
}

/********Our portfolio*******/

.row_portfolio{
	margin: 0 -15px;
}

.col_portfolio{
	padding: 0 15px;

}

.portfolio{
	margin-bottom: 50px;
	/*padding: 0 15px;*/

}

.portfolio__link{
	display: block;
}

.portfolio:hover{
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
	
}

.portfolio__link>img{
	width: 100%;
	height: auto;
}

.portfolio__title{
	background-color: #fff;
	padding: 25px 0	; 
}

.portfolio__title h3
{
	font-size: 18px;
	font-family: 'Montserrat';
	color: #333;
	font-weight: bold;
	padding-bottom: 8px; 
}

.portfolio__title p
{
	font-size: 14px;
	font-family: 'Droid Serif';
	color: #737373;
	font-style: italic;
}